{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ayush Kumar</h3>
                <p class="lead" style="font-weight: 350;">Hi, I'm  Currently Pursuing Bachelors in
                    Computer Science and Engineering (CSE).My Main Focus is Full Stack Development with hands on practise on React, NodeJS, ExpressJS and MongoDB.
                 I have a little fluff for Swift and iOS Development also.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ayushpal2017ak@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                        ayushpal2017ak@gmail.com<br><br>
                 <a target="_blank" href='mailto:ayushpal2017ak@gmail.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> :Ayush-Kumar<br><br>

                        <a target="_blank" href='https://github.com/ayushkr30'><img
                            src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                    ayushkr30<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/ayush-kumar-6bb7a0212/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                AyushKumar<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ujjwal Yadav</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ujjwal Yadav.I'm  Pursuing bachelors in Computer Science and Engineering (CSE). My main focuses on Machine Learning and Deep Learning. Along with Salesforce Developer.
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ujjwalyadav1610@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                ujjwalyadav1610@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/ujjwalyadav1610/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174855.png" height="44" width="44"></a> :
                UjjwalYadav<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/ujjwaly/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                UjjwalYadav<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}